<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
        function go_to_next_page() {
            location.href = '/boy/fifth_page';
    }
</script>
<body>
<div class="container">
        <form id="data-send" name="data-send">

        <input type="button" value="Next" onclick="go_to_next_page()"/>
    </form>
    <div class="object">
<img src="../static/boy_5th.png" style="width: 50%">

    </div>

</div>
He tasted the porridge from the large bowl. “This porridge is too salty!” he said.

</body>
</html>