<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<style>
    body, html {
    {#background-color: #C7E5FF; /* Light purple */#} height: 100%;
        margin: 0;
        background: linear-gradient(to right, #FFFCA3 50%, #C7E5FF 50%);
    }

    .other button {

        font-size: 20px;
        background: rgba(159, 243, 139, 0.6);
        color: rgb(0, 0, 0);
        width: 100px;
        height: 60px;
        cursor: pointer;
        border: none;
        border-radius: 30px; /* Rounded corners */
        transition: all 0.3s ease; /* Smooth transition */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    }

    /* Next button active effect */
    .other button:active {
        background: rgb(41, 57, 104);
        color: rgb(255, 255, 255);
    }

    .stop button {
        position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        right: 20px; /* Distance from the left of the viewport */
        font-size: 20px;
        background: rgba(255, 0, 0, 0.6);
        color: rgb(0, 0, 0);
        width: 100px;
        height: 60px;
        cursor: pointer;
        border: none;
        border-radius: 30px; /* Rounded corners */
        transition: all 0.3s ease; /* Smooth transition */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    }

    .stop button:disabled {
        background: rgba(92, 43, 43, 0.6);
        color: rgb(255, 255, 255);
        cursor: not-allowed; /* Change cursor to indicate disabled state */
    }
</style>

<script>
    var socket = io.connect('http://192.168.100.2:5000');
    console.log("first socket:", socket);
    socket.emit('connect event', {data: 'User Connected'});

    $(document).ready(function () {
    });
    const gestures = ["child_direct", "child_direct2", "child_looking2","idle_left_arm_and_head"];
    let shuffledGestures = shuffleArray(gestures);
    let gestureIndex = 0;

    // Shuffle the array
    function shuffleArray(arr) {
        return [...arr].sort(() => Math.random() - 0.5);
    }


    function repeat_speech(msg) {
        socket.emit('repeat_speech', msg)
    }

    function agetoggle_young() {
        var schedule1 = document.getElementById("schedule1");
        var bye1 = document.getElementById("bye1");
        var bye2 = document.getElementById("bye2");
        var hello1 = document.getElementById("hello1");
        var hello3 = document.getElementById("hello3");
        var hello2 = document.getElementById("hello2");
        var fav1 = document.getElementById("fav1");
        var fav2 = document.getElementById("fav2");
        var fav3 = document.getElementById("fav3");
        var fav4 = document.getElementById("fav4");
        var fav5 = document.getElementById("fav5");
        var fav6 = document.getElementById("fav6");
        var casual1 = document.getElementById("casual1");
        var casual2 = document.getElementById("casual2");
        var casual3 = document.getElementById("casual3");
        var casual4 = document.getElementById("casual4");
        var casual5 = document.getElementById("casual5");
        var casual6 = document.getElementById("casual6");
        var casual7 = document.getElementById("casual7");
        // Toggle their visibility
        var displayState = (schedule1.style.display === "none" || schedule1.style.display === "" || bye1.style.display === "" || bye2.style.display === "" || hello1.style.display === "" || hello2.style.display === "" || hello3.style.display === "" ||
            casual1.style.display === "" || casual2.style.display === "" || casual3.style.display === "" || casual4.style.display === "" || casual5.style.display === "" || casual6.style.display === "" || casual7.style.display === "" ||
            fav1.style.display === "" || fav2.style.display === "" || fav3.style.display === "" || fav4.style.display === "" || fav5.style.display === "" || fav6.style.display === "") ? "block" : "none";
        schedule1.style.display = displayState;
        bye1.style.display = displayState;
        bye2.style.display = displayState;
        hello1.style.display = displayState;
        hello3.style.display = displayState;
        hello2.style.display = displayState;
        casual1.style.display = displayState;
        casual2.style.display = displayState;
        casual3.style.display = displayState;
        casual4.style.display = displayState;
        casual5.style.display = displayState;
        casual6.style.display = displayState;
        casual7.style.display = displayState;
        fav1.style.display = displayState;
        fav2.style.display = displayState;
        fav3.style.display = displayState;
        fav4.style.display = displayState;
        fav5.style.display = displayState;
        fav6.style.display = displayState;
    }

    function agetoggle_old() {
        var schedule2 = document.getElementById("schedule2");
        var bye1 = document.getElementById("bye1_old");
        var bye2 = document.getElementById("bye2_old");
        var hello1 = document.getElementById("hello1_old");
        var hello3 = document.getElementById("hello3_old");
        var hello2 = document.getElementById("hello2_old");
        {#var hello4 = document.getElementById("hello4_old");#}
        var fav1 = document.getElementById("fav1_old");
        var fav2 = document.getElementById("fav2_old");
        var fav3 = document.getElementById("fav3_old");
        var fav4 = document.getElementById("fav4_old");
        var fav5 = document.getElementById("fav5_old");
        var fav6 = document.getElementById("fav6_old");
        var casual1 = document.getElementById("casual1_old");
        var casual2 = document.getElementById("casual2_old");
        var casual3 = document.getElementById("casual3_old");
        var casual4 = document.getElementById("casual4_old");
        var casual5 = document.getElementById("casual5_old");
        var casual6 = document.getElementById("casual6_old");
        var casual7 = document.getElementById("casual7_old");
        var displayState = (schedule2.style.display === "none" || schedule2.style.display === "" || bye1.style.display === "" || bye2.style.display === "" || hello1.style.display === "" || hello2.style.display === "" || hello3.style.display === "" ||
            casual1.style.display === "" || casual2.style.display === "" || casual3.style.display === "" || casual4.style.display === "" || casual5.style.display === "" || casual6.style.display === "" || casual7.style.display === "" ||
            fav1.style.display === "" || fav2.style.display === "" || fav3.style.display === "" || fav4.style.display === "" || fav5.style.display === "" || fav6.style.display === "") ? "block" : "none";
        schedule2.style.display = displayState;
        bye1.style.display = displayState;
        bye2.style.display = displayState;
        hello1.style.display = displayState;
        hello3.style.display = displayState;
        hello2.style.display = displayState;
        {#hello4.style.display = displayState;#}
        casual1.style.display = displayState;
        casual2.style.display = displayState;
        casual3.style.display = displayState;
        casual4.style.display = displayState;
        casual5.style.display = displayState;
        casual6.style.display = displayState;
        casual7.style.display = displayState;
        fav1.style.display = displayState;
        fav2.style.display = displayState;
        fav3.style.display = displayState;
        fav4.style.display = displayState;
        fav5.style.display = displayState;
        fav6.style.display = displayState;
    }

    function speak(msg) {
        setTimeout(1)
        let index = 0;
        console.log("speak function")
        if (msg.includes("Hello")) {
            socket.emit('gesture_play', "hi_soomin", 1.5);
        } else if (msg == "Goodbye!" || msg == "See you later!") {
            socket.emit('gesture_play', "bye_soomin", 1.5);
        } else if (msg == "My name is QT!") {
            {#socket.emit('gesture_play_pub', "myname");#}
            {#socket.emit('gesture_play', "myname", 2);#}
            socket.emit('gesture_play', "/QT/show_QT", 1.5);
        } else {
            if (gestureIndex >= shuffledGestures.length) {
                // Reshuffle and reset when all gestures are used
                shuffledGestures = shuffleArray(gestures);
                gestureIndex = 0;
            }

            const gesture = shuffledGestures[gestureIndex];
            console.log("emitting gesture:", gesture);
            socket.emit('gesture_play_pub', gesture);
            gestureIndex++;
        }

        socket.emit('at_talk_speech', msg)
    }
</script>
<body>

<div class="other" style="position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 40px; /* Distance from the left of the viewport */">
    <button onclick="agetoggle_young()">Younger age</button>
</div>

<div class="other" style="position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 650px; /* Distance from the left of the viewport */">
    <button onclick="agetoggle_old()">Older age</button>
</div>


<div id="schedule1" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 170px; /* Distance from the left of the viewport */">
    <button onclick="speak('lets see what r we goin to do today')">schedule</button>
</div>


<div id="hello1" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 280px; /* Distance from the left of the viewport */">
    <button onclick="speak('Hello! How r you today?')">Hello, How are you?</button>
</div>

<div id="hello2" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 390px; /* Distance from the left of the viewport */">
    <button onclick="speak('My name is QT!')">My name is QT!</button>
</div>


<div id="hello3" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 500px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your name?')">What's your name?</button>
</div>


<div id="fav1" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 170px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your favourite colour?')">favourite colour?</button>
</div>

<div id="fav2" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 280px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your favourite season, and Why?')">favourite season?</button>
</div>
<div id="fav3" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 390px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your favourite hobby?')">favourite hobby?</button>
</div>
<div id="fav4" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 500px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your favourite movie, and What happens in it?')">favourite movie?</button>
</div>

<div id="fav5" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 180px; /* Distance from the top of the viewport */
        left: 170px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your favourite subject in school, and Why do you like it?')">favourite subject?
    </button>
</div>

<div id="fav6" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 180px; /* Distance from the top of the viewport */
        left: 280px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your favourite holiday, and How do you celebrate it?')">favourite holiday?</button>
</div>
<div id="casual1" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 170px; /* Distance from the left of the viewport */">
    <button onclick="speak('If you could have any superpower, what power would you want to have?')">Superpower</button>
</div>
<div id="casual2" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 280px; /* Distance from the left of the viewport */">
    <button onclick="speak('Talk about a game you like to play. How do you play it?')"> a game you like to play</button>
</div>
<div id="casual3" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 390px; /* Distance from the left of the viewport */">
    <button onclick="speak('What do you like to do on the weekend?')">plan on weekend</button>
</div>
<div id="casual4" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 500px; /* Distance from the left of the viewport */">
    <button onclick="speak('If you could go anywhere on vacation, where would you go?')">vacation</button>
</div>

<div id="casual5" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 340px; /* Distance from the top of the viewport */
        left: 170px; /* Distance from the left of the viewport */">
   <button onclick="speak('How\'s the weather today?')">weather</button>
</div>
<div id="casual6" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 340px; /* Distance from the top of the viewport */
        left: 280px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is something that you are good at?')">what are you good at?</button>
</div>
<div id="casual7" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 340px; /* Distance from the top of the viewport */
        left: 390px; /* Distance from the left of the viewport */">
    <button onclick="speak('If you could turn into any animal for a day, what animal would you be, and Why?')">animal
    </button>
</div>


<div id="bye1" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 420px; /* Distance from the top of the viewport */
        left: 170px; /* Distance from the left of the viewport */">
    <button onclick="speak('Goodbye!')">Good bye</button>
</div>

<div id="bye2" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 420px; /* Distance from the top of the viewport */
        left: 280px; /* Distance from the left of the viewport */">
    <button onclick="speak('See you later!')">See you later</button>
</div>


<div id="encrgmnt1" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 450px; /* Distance from the top of the viewport */
        left: 170px; /* Distance from the left of the viewport */">
    <button onclick="speak('Nice try!')">Nice try</button>
</div>


<div id="schedule2" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 780px; /* Distance from the left of the viewport */">
    <button onclick="speak('lets look at the visual schedule')">schedule</button>
</div>


<div id="hello1_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 890px; /* Distance from the left of the viewport */">
    <button onclick="speak('Hello! How r you today?')">Hello, How are you?</button>
</div>

<div id="hello2_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 1000px; /* Distance from the left of the viewport */">
    <button onclick="speak('My name is QT!')">My name is QT!</button>
</div>


<div id="hello3_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 20px; /* Distance from the top of the viewport */
        left: 1110px; /* Distance from the left of the viewport */">
    <button onclick="speak('Whats your name?')">What's your name?</button>
</div>


<div id="fav1_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 780px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is your favourite colour?')">favourite colour?</button>
</div>

<div id="fav2_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 890px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is your favourite season?. Why?')">favourite season?</button>
</div>
<div id="fav3_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 1000px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is your favourite hobby?')">favourite hobby?</button>
</div>
<div id="fav4_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 100px; /* Distance from the top of the viewport */
        left: 1110px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is your favourite movie?. What happens in it?')">favourite movie?</button>
</div>

<div id="fav5_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 180px; /* Distance from the top of the viewport */
        left: 780px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is your favourite subject in school? Why do you like it?')">favourite subject?</button>
</div>

<div id="fav6_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 180px; /* Distance from the top of the viewport */
        left: 890px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is your favourite holiday? How do you celebrate it?')">favourite holiday?</button>
</div>
<div id="casual1_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 780px; /* Distance from the left of the viewport */">
    <button onclick="speak('If you could have any superpower, what power would you want to have?')">Superpower</button>
</div>
<div id="casual2_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 890px; /* Distance from the left of the viewport */">
    <button onclick="speak('Talk about a game you like to play. How do you play it?')"> a game you like to play</button>
</div>
<div id="casual3_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 1000px; /* Distance from the left of the viewport */">
    <button onclick="speak('What do you like to do on the weekend?')">plan on weekend</button>
</div>
<div id="casual4_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 260px; /* Distance from the top of the viewport */
        left: 1110px; /* Distance from the left of the viewport */">
    <button onclick="speak('If you could go anywhere on vacation, where would you go?')">vacation</button>
</div>

<div id="casual5_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 340px; /* Distance from the top of the viewport */
        left: 780px; /* Distance from the left of the viewport */">
    <button onclick="speak('How\'s the weather today?')">weather</button>
</div>
<div id="casual6_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 340px; /* Distance from the top of the viewport */
        left: 890px; /* Distance from the left of the viewport */">
    <button onclick="speak('What is something that you are good at?')">what are you good at?</button>
</div>
<div id="casual7_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 340px; /* Distance from the top of the viewport */
        left: 1000px; /* Distance from the left of the viewport */">
    <button onclick="speak('If you could turn into any animal for a day, what animal would you be? Why?')">animal
    </button>
</div>

<div id="bye1_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 420px; /* Distance from the top of the viewport */
        left: 780px; /* Distance from the left of the viewport */">
    <button onclick="speak('Goodbye!')">Good bye</button>
</div>

<div id="bye2_old" class="other" style="display: none; position: fixed; /* Keeps it fixed relative to the viewport */
        top: 420px; /* Distance from the top of the viewport */
        left: 890px; /* Distance from the left of the viewport */">
    <button onclick="speak('See you later!')">See you later</button>
</div>


</body>
</html>