<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Main</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
      <script type="text/javascript">
          var socket = io.connect('http://192.168.100.2:5000');
          // var socket = io.connect('localhost:5000');

          function young(){
              document.getElementById("action_game");
              if(document.getElementById("action_game").style.display=='none'){
                  document.getElementById("action_game").style.display = 'block';
                  document.getElementById("emotion_game_1").style.display = 'block';
                  document.getElementById("emotion_game3").style.display = 'block';
                  document.getElementById("dice_action_young").style.display = 'block';
                  document.getElementById("dice_emotion_young").style.display = 'block';

              }
              else{
                    document.getElementById("action_game").style.display = 'none';
                    document.getElementById("emotion_game_1").style.display = 'none';
                    document.getElementById("emotion_game3").style.display = 'none';
                  document.getElementById("dice_action_young").style.display = 'none';
                  document.getElementById("dice_emotion_young").style.display = 'none';

              }
          }

          function older(){
              document.getElementById("story");
              if(document.getElementById("story").style.display=='none'){
                  document.getElementById("story").style.display = 'block';
                  document.getElementById("instructions_game").style.display = 'block';
                  document.getElementById("emotion_game2").style.display = 'block';
                  document.getElementById("dice_emotion_old").style.display = 'block';
                  document.getElementById("dice_5w1h_1").style.display = 'block';
                  document.getElementById("dice_5w1h_2").style.display = 'block';
                  document.getElementById("dice_board").style.display = 'block';
              }
              else{
                    document.getElementById("story").style.display = 'none';
                    document.getElementById("instructions_game").style.display = 'none';
                  document.getElementById("emotion_game2").style.display = 'none';
                  document.getElementById("dice_emotion_old").style.display = 'none';
                  document.getElementById("dice_5w1h_1").style.display = 'none';
                  document.getElementById("dice_5w1h_2").style.display = 'none';
                  document.getElementById("dice_board").style.display = 'none';
              }
          }

      

      socket.on( 'connect', function() {
        socket.emit( 'connect event', {
          data: 'User Connected'
        } )

         $('input.sync').on('click', function(event) {
                socket.emit('click_main', {who: $(this).attr('id')
              });
                return false;
            });
            
            socket.on('green', function(msg) {
              var x = document.getElementById(msg.who);
              x.style.color = "green";
            });
           

 socket.on('redirect' , function(data)
            {
                console.log(data)
    //window.location = data.url;
    window.open(data.url)
                
            });
window.onbeforeunload = function () {
        socket.emit('client_disconnecting', {'data': "Main"});
    }


      } )
      

      </script>
   </head>
   <style>
body{
 background-image: url("{{ url_for('static', filename='images/back.jpg') }}");
}

input {
  white-space: normal;
  -webkit-appearance: none;
 font-size:20px;
    height:70px;
    width:200px;
  background: #ffffff;
}
</style>


   <body>
<input id="0-3" class="sync" type="button" value="0-4 years old" onclick="young()" style = "position:absolute; left:80px; top:50px;  border-radius: 50px; cursor: pointer;"  required/>
<input id="3-5" class="sync" type="button" value="5-9 years old" onclick="older()" style = "position:absolute; left:80px; top:450px;  border-radius: 50px; cursor: pointer;"   required/>


<input id="action_game" class="sync" type="button" value="Action card game" style = "position:absolute; left:340px; top:50px; display: none; cursor: pointer;"  required/>
<input id="emotion_game_1" class="sync" type="button" value="Emotion card game" style = "position:absolute; left:340px; top:150px;display: none;cursor: pointer;"  required/>
<input id="emotion_game3" class="sync" type="button" value="Emotion game with two cards" style = "position:absolute; left:340px; top:250px;display: none;cursor: pointer;"  required/>
<input id="dice_action_young" class="sync" type="button" value="Dice game/ action" style = "position:absolute; left:640px; top:50px;display: none;cursor: pointer;"  required/>
<input id="dice_emotion_young" class="sync" type="button" value="Dice game/ emotions" style = "position:absolute; left:640px; top:150px;display: none;cursor: pointer;"  required/>


<input id="emotion_game2" class="sync" type="button" value="Emotion card game" style = "position:absolute; left:340px; top:450px; display: none;cursor: pointer;"  required/>

<input id="instructions_game" class="sync" type="button" value="Instruction game" style = "position:absolute; left:340px; top:550px;display: none;cursor: pointer;"  required/>
<input id="story" class="sync" type="button" value="Interactive story" style = "position:absolute; left:340px; top:650px;display: none;cursor: pointer;"  required/>
<input id="dice_emotion_old" class="sync" type="button" value="Rolling emotion dice" style = "position:absolute; left:640px; top:450px;display: none;cursor: pointer;"  required/>
<input id="dice_5w1h_1" class="sync" type="button" value="Rolling dice (why when how)" style = "position:absolute; left:640px; top:550px;display: none;cursor: pointer;"  required/>
<input id="dice_5w1h_2" class="sync" type="button" value="Rolling dice (what who where)" style = "position:absolute; left:940px; top:550px;display: none;cursor: pointer;"  required/>
<input id="dice_board" class="sync" type="button" value="Rolling dice with board" style = "position:absolute; left:640px; top:650px;display: none;cursor: pointer;"  required/>


</body>
</html>
